/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
test-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
output.calva-repl
.DS_Store
/node_modules
/log
/.shadow-cljs
/.lsp
/.clj-kondo
/.vscode
package-lock.json
Procfile
guestbook_dev.db.mv.db
guestbook_dev.db.trace.db